.addCards{
    background-color:white;
    width: 350px;
    height: 450px;
    margin: 10px;
    border-radius: 13px;

    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
    box-shadow: 0px 8px 8px #ccc;
    transition: ease-in 0.2s;
}

.addCards:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.addCards :nth-child(1){
    font-size: 2em;
    text-align: center;
    width: 100%;
    height: 20%;
    color:rgb(95, 93, 93)
}
.addCards :nth-child(2){
    font-size: 8em;
    width: auto;
    height: 60%;
    text-align: center;
}
.addCards :nth-child(3){
    font-size: 2em;
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: #346DF1;
    color: white;
    border-radius: 0 0 13px 13px;
    display: flex;
    align-items: center;
    justify-content: center;

}