.home{
    text-align: center;
}
.home h1{
    font-size: 40px;
}
.homeCards{
    /* background-color: antiquewhite; */
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}