.memberCardDiv{
    display: flex;
    align-items: center;
    width: 350px;
    height: 105px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 5px #ccc;
    transition: ease-in 0.2s;
}
.memberCardDiv:hover{
    transform: scale(1.03);
}
.memberCardDiv img{

    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.userInfo{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.userInfo h1{
    font-size: 16px;
}


.socialLinks i{
    font-size: 20px;
    margin: 0 2px 0 2px
}

.socialLinks a{
    color: black;
}