.navbar{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
}
.logo{
    width: 220px;
    height: auto;

}
@media screen and (max-width: 600px) {
    .logo{
        width: 150px;
    }
}